*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background: #F7CCB7;
	font-family: 'Courier Prime',monospace, sans-serif;
	word-spacing: 1 px;
	line-height: 25px;
	font-weight: 600;
	font-size: 20px;
}

h1{
	font-family: 'Bebas Neue', cursive, sans-serif;
	font-weight: 100;
	font-size: 3rem;
	letter-spacing: 0.2rem;
	padding:10px 7rem 10px 1.5rem;
	margin-bottom: 0px;
	color: #c4022f;
}

h2{
	font-family: 'Bebas Neue', cursive, sans-serif;
	font-weight: 100;
	font-size: 3rem;
	letter-spacing: 20px;
	color: white;
}



.navbar-brand{
	padding: 0px 0px ;
}

#doodlenav.scrolled{
	background-color:#ffffff !important;
	transition: all 300ms ease;
}

.nav-link{
	font-family: 'Bebas Neue', cursive, sans-serif;
	color: black;
	letter-spacing: 0.8px;
	margin: 0 2rem;
	position: relative;
}

section{
	margin-top: 170px;
	margin-bottom: 50px;
}

.btn{
	display: inline-block;
	padding: 15px 15px;
	margin: 10px 10px 10px 10px;
	color: #ffffff;
	letter-spacing: 2px;
	text-decoration: none;
	font-size: 22px;
	border: 2px solid;
	border-radius: 40px;
	border-color: rgb(255, 255, 255,0.8);
	background: linear-gradient(90deg,#755bea,#ff72c0);
	text-align: center;
	width: 220px;
	height: 80px;
	transition: all 0.25s;
}

.btn:hover {
	border-color: rgb(255, 255, 255, 0.8);
	box-shadow: 0.2em 0.6em 0.5em -0.4em #ff3666;
	color: rgb(255, 255, 255);
	transform: translateY(-0.25em);
}

.btn:active{
	transform: translateY(0.25em);
	box-shadow: none;
}

.dots-cont {
	right: 0px;
	bottom: 0px;
  }
  
.dot {
	width: 5px;
	height: 5px;
	background: #f8f9fa;
	display: inline-block;
	border-radius: 50%;
	right: 8px;
	bottom: 0px;
	margin: 0px -2px;
	position: relative;
	animation: jump 1s infinite;
}

.dots-cont .dot-1 {
	-webkit-animation-delay: 100ms;
	animation-delay: 100ms;
}
  
.dots-cont .dot-2 {
	-webkit-animation-delay: 200ms;
	animation-delay: 200ms;
}
  
.dots-cont .dot-3 {
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}
  
@keyframes jump {
	0%   {bottom: 0px;}
	20%  {bottom: 5px;}
	40%  {bottom: 0px;}
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.navbar-expand-lg .navbar-nav .nav-link:hover {
		color:none ;
	}

	#doodlenav{
		height: 8rem;
		background-color: transparent !important;
		transition: height .4s ease;
	}

	#doodlenav.scrolled{
		background-color:#ffffff !important;
		height:4rem;
		transition: all 400ms ease;
	}

	.nav-link::after{
		content: '';
		width: 100%;
		height: 3.5px;
		background-color: rgb(233, 14, 14);
		position: absolute;
		left: 0;
		bottom: -3px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform .5s ease;
	}
	
	.nav-link:hover::after{
		transform: scaleX(1);
	}

	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
		color: #0000008c;
	}
	
}

@media (min-width: 992px) and (max-width: 1060px){
	.nav-link{
		margin: 0 0.8rem;
	}
}

@media (min-width: 1060px) and (max-width: 1200px){
	.nav-link{
		margin: 0 1.3rem;
	}
}

@media (max-width: 500px){
	h1{
		padding:0px;
	}

	section{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}


